.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
  }
  
 .navbar li {
    float: left;
  }
  
 .navbar li a {
    display:inline-block;
    color: black;
    text-align: center;
    margin: 15px;
    padding: 0px 16px;
    text-decoration: none;
  }
  body{
    font-family: 'Poppins', sans-serif; 
  }
  .first-header{
    display: inline-flex;
    margin-bottom:150px;
  }
  .first-header h1{
    font-size: 40px;
  }
  .skip{
    color: orange;
    margin-right: 5px;

  }
  .half-width{
    width: 50%;
    padding-left: 5px;
  }
  .half-width img{
    width:80%;
  }
  .link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color:white;
    font-weight: 700;
    border-radius: 20px;
  }
  #center{
    text-align: center;
  }
  #center h1{
    font-size: 30px;
    color: gray;

  }
  .column {
    float: left;
    width: 25%;
    padding: 5px;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    border-radius: 10px;
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  

  .flllowing{
    display: flex;
    box-shadow: 10px 10px 40px gray;
    margin: 30px ;
  }
  .follow{
    width:25%;
  }
  #footer{
    background-color: black;
    color: white;
    text-align:center;
    padding:30px;
    
  }
  .food{
    color:orange;
  }
  .network{
    color:gray;
    padding-bottom: 80px;
  }
  

  